*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,"montserrat";
}

body{
    background: #353b48;
    height: 50vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
    "btn-1 btn-2"
    "btn-3 btn-4" ;
}

.btn{
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: #3498db;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    grid-gap: 1rem;
    margin: 0rem 1rem;
}

.btn::before,.btn::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background:  #353b48;
    transform: skewX(50deg);
    transition: .4s linear;
}

.btn::before{
    top: -4px;
    left: 10%;
}

.btn::after{
    bottom: -4px;
    right: 10%;
}

.btn:hover::before{
    left: 80%;
}
.btn:hover::after{
    right: 80%;
}

#btn-1{
    grid-area: btn-1;
}
#btn-2{
    grid-area: btn-2;
}
#btn-3{
    grid-area: btn-3;
}
#btn-4{
    grid-area: btn-4;
}